{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord
{% endblock %}

{% block body %}
	<div class="admin-container">
		<div class="admin-dashboard">
			<h1>Tableau administrateur</h1>
			<a class="admin-link" href="{{ path('admin_users') }}">Membres</a>
			<a class="admin-link" href="{{ path('admin_assistance') }}">Demandes d'assistance</a>
			<a class="admin-link" href="{{ path('admin_competition_index') }}">Calendrier</a>
		</div>
	</div>

{% endblock %}
