<h1>Bonjour ! Veuillez confirmer votre adresse e-mail !</h1>
<p>Nous sommes ravis de vous compter parmi nous ! 
    Pour finaliser votre inscription, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon E-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
<p>
    Merci infiniment !
</p>