{% extends 'base.html.twig' %}

{% block title %}Modifier un Article{% endblock %}

{% block stylesheets %}
    {# on charge la feuille globale nova.css #}
    <link rel="stylesheet" href="{{ asset('css/nova.css') }}">
{% endblock %}

{% block body %}
    <div class="nova-container">
        <h1 class="nova-title">Modifier l'article</h1>

        {# le _form.html.twig applique déjà les classes nova- #}
        {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_article_index') }}" class="nova-btn-back">Retour à la liste</a>

        {% if is_granted('ROLE_ADMIN') %}
            <div style="margin-top:20px;">
                {{ include('article/_delete_form.html.twig') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
