{% extends 'base.html.twig' %}

{% block title %}Créer un Article{% endblock %}

{% block stylesheets %}
 
  <link rel="stylesheet" href="{{ asset('css/article-nova.css') }}">
{% endblock %}

{% block body %}
  
  <div class="container na-article">
    <h1 class="na-title">Créer un Article</h1>
	
    {{ include('article/_form.html.twig', {
      button_label: 'Créer',
      form_class: 'na-form' 
    }) }}

    <a href="{{ path('app_article_index') }}" class="na-link na-link--back">Retour à la liste</a>
  </div>
{% endblock %}
